@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
html,
body {
  padding: 0;
  margin: 0;

  background-color: #010d1d;
}

a {
  color: inherit;
  text-decoration: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;

  color: rgb(231, 231, 231);
  font-family: 'Roboto', sans-serif;
  scroll-behavior: smooth;
  scroll-padding-top: 4rem;
}
@font-face {
  font-family: 'burtons';
  src: url('../public/Burtons.otf');
}
